.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 102px;
  
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--normal-wght, 400);
  line-height: normal;
  color: var(--accent-color, #000);

  background-color: var(--bg-color, #FFF);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--content-wdth, 320px);
  margin-block-end: 100px;
  padding: clamp(120px, 32dvi, 136px) 0 25px;

  font-family: var(--accent-font, fantasy);
  font-weight: 400;

  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.header__logo {
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7292rem + 1.4815vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  padding-block-start: 20px;

  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6875rem + 0.8333vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  padding-block-start: 25px;
  padding-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  position: relative;

  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;

  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: '';

  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -5px;

  inline-size: 100%;
  block-size: 2px;

  background-color: var(--accent-color);
  opacity: 0.6;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';

  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -20px;

  animation: moving 0.5s infinite ease-in-out alternate;
  /* animation-name: moving;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  inline-size: var(--content-wdth, 320px);
  padding-block-end: 102px;
}

.card {
  font-size: 18px;
  
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px;

  font-size: inherit;
  font-variation-settings: 'wght' var(--bold-wght, 700);
  line-height: normal;
}

.card__image {
  position: relative;

  display: flex;
  margin: 0;

  border: 2px solid var(--accent-color);
}

.card__picture {
  object-fit: cover;
  object-position: center;
    
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.sepia {
  filter: sepia(60%);
}

.grayscale {
  filter: grayscale(50%) contrast(200%);
}

.saturate {
  filter: saturate(200%);
}

.opacity {
  filter: opacity(0.6);
}

.brightness {
  filter: brightness(120%);
}

.blur {
 filter: blur(2px);
}

.invert {
  filter: invert(10%);
}

.hue-rotate {
  filter: hue-rotate(0.1turn);
}

.card__label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  
  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--label-shadow, #FFF);
}
  
@supports(text-stroke: 1px var(--label-shadow)) or (-webkit-text-stroke: 1px var(--label-shadow)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-shadow);
    text-stroke: 1px var(--label-shadow);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.paragraph {
  font-variation-settings: 'wght' var(--normal-wght, 400);
  line-height: 116.667%;
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block-start: 28px;
  gap: 9px;
}

.card__icon-button {
  block-size: 34px;

  outline: 2px solid transparent;

  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  padding: 7px;
}

.card__like-button:focus {
  outline: none;
}

.button {
  position: relative;

  color: var(--card-button);
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;

  background-color: var(--accent-color);

  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out;
}

.button:hover::before {
  scale: 1;
}

.button__text {
  position: relative;
  z-index: 1;

  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;

  transition: color 1s ease;

  mix-blend-mode: difference;
}

.footer__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  padding: 15px;
  min-inline-size: 306px;
  inline-size: min(80dvi, 335px);
    
  background-color: var(--bg-color);
}

.footer__icon {
  position: relative;
  z-index: 1;

  inline-size: 21px;
  block-size: 21px;

  transition: color 1s ease;

  mix-blend-mode: difference;
}

.modal {
  inline-size: 357px;
  padding: 31px;

  color: var(--accent-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  inline-size: 40px;
  block-size: 40px;
}

.modal__text {
  max-inline-size: 200px;
}

.modal__button {
  inline-size: 293px;
  padding: 9px;
}


@media (width <= 375px) {
  .footer__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .card__label {
    inset-inline-end: 11px;
  }

  .modal__form {
    align-items: center;
  }

  .modal__button {
    inline-size: 257px;
  }
}